body{
  background-color: rgb(239, 216, 7);
}

.square{
  background-color: black;
  color: white;
  height: 300px;
  width: 300px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}
